<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Libros Web - Busqueda por autor</title>
    </head>
    <body>
        <h1>Libros Web</h1>
        <h2>Busqueda por autor</h2>
        <form action="/autor" method="post">
            <label for="autor">Autor:</label>
            <input type="text" id="autor" name="autor">
            <input type="submit" value="Buscar">
        </form>
        <p> Resultados: </p>
        <ul>
            {% for libro in lista_libros %}
                <li><a href = "/libro/{{libro.id}}">{{ libro.author }} - {{ libro.title }}</li>
            {% endfor %}
        </ul>
        <ul>
            <li><a href="/titulo">Búsqueda por titulo </a></li>
            <li><a href="/autor">Búsqueda por autor </a></li>
            <li><a href="/letra">Desplegar por letra </a></li>
        </ul>
<html>